/* IMAGE */
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    text-align: center;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
}

/* CONTAINER */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    padding: 50px 25px;
    box-sizing: border-box;
}

/* CARD */
.card-container{
    display: flex;
    width: 700px;
    background: linear-gradient(to right,#024945, #12a89c); /* #2FEBD4, #DEFFFD*/
    border-radius: 15px;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

.descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    color: #FFFFFF;
}

.descripcion h1{
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
    text-align: center;
    font-size: 40px ;
}

.descripcion h2{
    line-height: 1.2;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    font-size: 25px;
}

.descripcion p{
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
}

/* ICONS BELOW PHOTO */
.icons-below-photo {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}

.icons-below-photo a {
    color: #FFFFFF;
    font-size: 40px;
    transition: .3s;
}

a:hover{
    transform: translateY(-3px) scale(1.2);
}

/* TOOLTIP */
.tooltip-text {
    position: absolute;
    top: -25px;
    left: -115%;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
#fade {
    opacity: 0;
    transition: opacity 0.3s;
}
.hover-text:hover #fade { opacity: 1; }
.hover-text {
    position: relative;
    display: inline-block;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .descripcion {
        margin-right: 0;
        text-align: center;
    }

    .descripcion p {
        text-align: center;
    }

    .image {
        margin-bottom: 15px;
    }

    .icons-below-photo {
        justify-content: center;
    }
}
