/*for the heading*/
.second-year-container {
    padding: 20px;
    text-align: center;
    
  }
  
  .second-year-container h2 {
    margin-bottom: 30px;
    color: cyan; /* Added color to match your image */
    padding-bottom: 50px;
    margin-top: 40px;
  }
  
  .department-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px; /* Space between the rows */
  }
  
  .department-box {
    width: 300px;
    height: 90px;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid white;
    font-size: 40px;
  }
  
  .department-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgb(18, 168, 156);
    border-color: rgba(255, 255, 255, 0.3);
  }